<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Marcus Sandi | Analytics</title>
  </head>
  <body>
    <div class="left">
      <div class="container">
        <div class="centered-div">
          <div class="profile">
            <h1>Marcus Sandi</h1>
            <img src="{{ url_for('static', filename='images/eu_profile.jpeg') }}" alt="Marcus Sandi">
            <p>{{ description }}</p>
            <p>{{ description_low }}</p>
          </div>
          <div class="profile-footer">
            <a href="https://www.linkedin.com/in/marcus-sandi/" target="_blank">Ver meu perfil no LinkedIn</a>
            <!-- <a href="{{ url_for('project') }}">
                <button>Projetos</button>
            </a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="container container-overflow">
        <div class="centered-div">
          <h2>Projetos selecionados em análise de dados, automações e dashboards.</h2>
          {% for item in data %}
            <hr>  
            <div class="card-out">
              <div class="card">
                <div class="card-content">
                    <h3 class="card-title">{{ item.nome }}</h3>
                    <p class="card-description">
                      {{ item.descricao }}
                    </p>
                    <p class="card-date">Data: {{ item.data }}</p>
                    <img src="{{ item.imagem }}" alt="{{ item.nome }}" class="card-image">
                    <p class="card-technologies">
                          Tecnologias:
                          {% for tecnologia in item.tecnologias.split(', ') %}
                            <span class="badge {{ tecnologia }}">{{ tecnologia }}</span>
                          {% endfor %}
                    </p>
                    <a href="{{ item.link }}" class="card-link" target="_blank">Acessar Projeto</a>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
  </body>
</html>
